/* start screen */
.title-left {
	-webkit-animation: fadeOutRight 1s forwards;
	        animation: fadeOutRight 1s forwards;
}

.title-right {
	-webkit-animation: fadeOutLeft 1s .8s forwards;
	        animation: fadeOutLeft 1s .8s forwards;
}

.start {
	-webkit-animation: startOut 1s 2s forwards;
	        animation: startOut 1s 2s forwards;
}

/* first screen */
.first-screen-first {
	-webkit-animation: rollOutRight .8s 6s forwards;
	        animation: rollOutRight .8s 6s forwards;
}

.first-screen-second {
	-webkit-animation: rollOutLeft .8s 10s forwards;
	        animation: rollOutLeft .8s 10s forwards;
}

.first-screen-third {
	-webkit-animation: rollOutRight .8s 14s forwards;
	        animation: rollOutRight .8s 14s forwards;
}

.first-screen-fourth {
	-webkit-animation: rollOutLeft .8s 18s forwards;
	        animation: rollOutLeft .8s 18s forwards;
}

.first-lead {
	-webkit-animation: rollIn .8s 20s backwards;
	        animation: rollIn .8s 20s backwards;
}

.first-screen {
	-webkit-animation: screenOut .8s 22s forwards;
	        animation: screenOut .8s 22s forwards;
}

/* second screen */
.second-screen-first {
	-webkit-animation: hingeLeft 2s 26s forwards;
	        animation: hingeLeft 2s 26s forwards;
}

.second-screen-second {
	-webkit-animation: hingeRight 2s 30s forwards;
	        animation: hingeRight 2s 30s forwards;
}

.second-screen-third {
	-webkit-animation: hingeLeft 2s 34s forwards;
	        animation: hingeLeft 2s 34s forwards;
}

.second-screen-fourth {
	-webkit-animation: hingeRight 2s 38s forwards;
	        animation: hingeRight 2s 38s forwards;
}

.second-lead {
	-webkit-animation: rotateIn .8s 40s backwards;
	        animation: rotateIn .8s 40s backwards;
}

.second-screen {
	-webkit-animation: screenOut .8s 42s forwards;
	        animation: screenOut .8s 42s forwards;
}

/* third screen */
.third-screen-first {
	-webkit-animation: zoomInLeft 1s 44s backwards;
	        animation: zoomInLeft 1s 44s backwards;
}

.third-screen-second {
	-webkit-animation: zoomInRight 1s 48s backwards;
	        animation: zoomInRight 1s 48s backwards;
}

.third-screen-third {
	-webkit-animation: zoomInLeft 1s 52s backwards;
	        animation: zoomInLeft 1s 52s backwards;
}

.third-screen-fourth {
	-webkit-animation: zoomInRight 1s 56s backwards;
	        animation: zoomInRight 1s 56s backwards;
}

.third-screen-fifth {
	-webkit-animation: zoomInLeft 1s 60s backwards;
	        animation: zoomInLeft 1s 60s backwards;
}

.third-lead {
	-webkit-animation: zoomInDown .8s 62s backwards;
	        animation: zoomInDown .8s 62s backwards;
}

.third-screen {
	-webkit-animation: screenOut .8s 64s forwards;
	        animation: screenOut .8s 64s forwards;
}

/* word screen */
.word-first {
	-webkit-animation: fadeIn .8s 66s backwards;
	        animation: fadeIn .8s 66s backwards;
}

.word-background-second {
	-webkit-animation: rollInRight .8s 70s backwards;
	        animation: rollInRight .8s 70s backwards;
}

.word-second {
	-webkit-animation: fadeIn .8s 71s backwards;
	        animation: fadeIn .8s 71s backwards;
}

.word-background-third {
	-webkit-animation: rollIn .8s 75s backwards;
	        animation: rollIn .8s 75s backwards;
}

.word-third {
	-webkit-animation: fadeIn .8s 76s backwards;
	        animation: fadeIn .8s 76s backwards;
}

.word-background-fourth {
	-webkit-animation: rollInUp .8s 80s backwards;
	        animation: rollInUp .8s 80s backwards;
}

.word-fourth {
	-webkit-animation: fadeIn .8s 81s backwards;
	        animation: fadeIn .8s 81s backwards;
}

.word-background-fifth {
	-webkit-animation: rollInDown .8s 85s backwards;
	        animation: rollInDown .8s 85s backwards;
}

.word-fifth {
	-webkit-animation: fadeIn .8s 86s backwards;
	        animation: fadeIn .8s 86s backwards;
}

.word-background-sixth {
	-webkit-animation: rollInRight .8s 90s backwards;
	        animation: rollInRight .8s 90s backwards;
}

.word-sixth {
	-webkit-animation: fadeIn .8s 91s backwards;
	        animation: fadeIn .8s 91s backwards;
}

.word-background-seventh {
	-webkit-animation: rollIn .8s 95s backwards;
	        animation: rollIn .8s 95s backwards;
}

.word-seventh {
	-webkit-animation: fadeIn .8s 96s backwards;
	        animation: fadeIn .8s 96s backwards;
}

.word-background-eighth {
	-webkit-animation: rollInUp .8s 100s backwards;
	        animation: rollInUp .8s 100s backwards;
}

.word-eighth {
	-webkit-animation: fadeIn .8s 101s backwards;
	        animation: fadeIn .8s 101s backwards;
}

.word-background-ninth {
	-webkit-animation: rollInDown .8s 105s backwards;
	        animation: rollInDown .8s 105s backwards;
}

.word-ninth {
	-webkit-animation: fadeIn .8s 106s backwards;
	        animation: fadeIn .8s 106s backwards;
}

.word-background-tenth {
	-webkit-animation: rollInRight .8s 110s backwards;
	        animation: rollInRight .8s 110s backwards;
}

.word-tenth {
	-webkit-animation: fadeIn .8s 111s backwards;
	        animation: fadeIn .8s 111s backwards;
}

.word-background-eleventh {
	-webkit-animation: rollIn .8s 115s backwards;
	        animation: rollIn .8s 115s backwards;
}

.word-eleventh {
	-webkit-animation: fadeIn .8s 116s backwards;
	        animation: fadeIn .8s 116s backwards;
}

.word-background-twelfth {
	-webkit-animation: rollInUp .8s 120s backwards;
	        animation: rollInUp .8s 120s backwards;
}

.word-twelfth-first {
	-webkit-animation: fadeIn .8s 121s backwards;
	        animation: fadeIn .8s 121s backwards;
}

.word-twelfth-second {
	-webkit-animation: fadeIn .8s 123s backwards;
	        animation: fadeIn .8s 123s backwards;
}

.word-twelfth-third {
	-webkit-animation: fadeIn .8s 125s backwards;
	        animation: fadeIn .8s 125s backwards;
}

.word-background-end {
	-webkit-animation: rollInDown .8s 128s backwards;
	        animation: rollInDown .8s 128s backwards;
}

.word-end {
	-webkit-animation: fadeIn .8s 129s backwards;
	        animation: fadeIn .8s 129s backwards;
}

/* animation */
@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeOutLeft {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		        transform: translate3d(-100%, 0, 0);
	}
}

@-webkit-keyframes fadeOutLeft {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		        transform: translate3d(-100%, 0, 0);
	}
}

@keyframes fadeOutRight {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		        transform: translate3d(100%, 0, 0);
	}
}

@-webkit-keyframes fadeOutRight {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		        transform: translate3d(100%, 0, 0);
	}
}

@keyframes startOut {
	0% {
		-webkit-transform: perspective(400px);
		        transform: perspective(400px);
	}

	30% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		opacity: 1;
	}

	100% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		opacity: 0;
	}
}

@-webkit-keyframes startOut {
	0% {
		-webkit-transform: perspective(400px);
		        transform: perspective(400px);
	}

	30% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		opacity: 1;
	}

	100% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		opacity: 0;
	}
}

@keyframes screenOut {
	20% {
		-webkit-transform: scale3d(.9, .9, .9);
		        transform: scale3d(.9, .9, .9);
	}

	50%, 55% {
		opacity: 1;
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		        transform: scale3d(1.1, 1.1, 1.1);
	}

	100% {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		        transform: scale3d(.3, .3, .3);
	}
}

@-webkit-keyframes screenOut {
	20% {
		-webkit-transform: scale3d(.9, .9, .9);
		        transform: scale3d(.9, .9, .9);
	}

	50%, 55% {
		opacity: 1;
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		        transform: scale3d(1.1, 1.1, 1.1);
	}

	100% {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		        transform: scale3d(.3, .3, .3);
	}
}

@keyframes rollOutRight {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
		        transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
	}
}

@-webkit-keyframes rollOutRight {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
		        transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
	}
}

@keyframes rollOutLeft {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
		        transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
	}
}

@-webkit-keyframes rollOutLeft {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
		        transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
	}
}

@keyframes rollIn {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
		        transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		        transform: none;
	}
}

@-webkit-keyframes rollIn {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
		        transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		        transform: none;
	}
}

@keyframes rollInRight {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
		        transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		        transform: none;
	}
}

@-webkit-keyframes rollInRight {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
		        transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		        transform: none;
	}
}

@keyframes rollInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0) rotate3d(0, 0, 1, 120deg);
		        transform: translate3d(0, -100%, 0) rotate3d(0, 0, 1, 120deg);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		        transform: none;
	}
}

@-webkit-keyframes rollInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0) rotate3d(0, 0, 1, 120deg);
		        transform: translate3d(0, -100%, 0) rotate3d(0, 0, 1, 120deg);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		        transform: none;
	}
}

@keyframes rollInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0) rotate3d(0, 0, 1, -120deg);
		        transform: translate3d(0, 100%, 0) rotate3d(0, 0, 1, -120deg);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		        transform: none;
	}
}

@-webkit-keyframes rollInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0) rotate3d(0, 0, 1, -120deg);
		        transform: translate3d(0, 100%, 0) rotate3d(0, 0, 1, -120deg);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		        transform: none;
	}
}

@keyframes hingeLeft {
	0% {
		-webkit-transform-origin: top left;
		        transform-origin: top left;
		-webkit-animation-timing-function: ease-in-out;
		        animation-timing-function: ease-in-out;
	}

		20%, 60% {
		-webkit-transform: rotate3d(0, 0, 1, 80deg);
		        transform: rotate3d(0, 0, 1, 80deg);
		-webkit-transform-origin: top left;
		        transform-origin: top left;
		-webkit-animation-timing-function: ease-in-out;
		        animation-timing-function: ease-in-out;
	}

		40%, 80% {
		-webkit-transform: rotate3d(0, 0, 1, 60deg);
		        transform: rotate3d(0, 0, 1, 60deg);
		-webkit-transform-origin: top left;
		        transform-origin: top left;
		-webkit-animation-timing-function: ease-in-out;
		        animation-timing-function: ease-in-out;
		opacity: 1;
	}

		100% {
		-webkit-transform: translate3d(0, 700px, 0);
		        transform: translate3d(0, 700px, 0);
		opacity: 0;
	}
}

@-webkit-keyframes hingeLeft {
	0% {
		-webkit-transform-origin: top left;
		        transform-origin: top left;
		-webkit-animation-timing-function: ease-in-out;
		        animation-timing-function: ease-in-out;
	}

		20%, 60% {
		-webkit-transform: rotate3d(0, 0, 1, 80deg);
		        transform: rotate3d(0, 0, 1, 80deg);
		-webkit-transform-origin: top left;
		        transform-origin: top left;
		-webkit-animation-timing-function: ease-in-out;
		        animation-timing-function: ease-in-out;
	}

		40%, 80% {
		-webkit-transform: rotate3d(0, 0, 1, 60deg);
		        transform: rotate3d(0, 0, 1, 60deg);
		-webkit-transform-origin: top left;
		        transform-origin: top left;
		-webkit-animation-timing-function: ease-in-out;
		        animation-timing-function: ease-in-out;
		opacity: 1;
	}

		100% {
		-webkit-transform: translate3d(0, 700px, 0);
		        transform: translate3d(0, 700px, 0);
		opacity: 0;
	}
}

@keyframes hingeRight {
	0% {
		-webkit-transform-origin: top right;
		        transform-origin: top right;
		-webkit-animation-timing-function: ease-in-out;
		        animation-timing-function: ease-in-out;
	}

		20%, 60% {
		-webkit-transform: rotate3d(0, 0, 1, -80deg);
		        transform: rotate3d(0, 0, 1, -80deg);
		-webkit-transform-origin: top right;
		        transform-origin: top right;
		-webkit-animation-timing-function: ease-in-out;
		        animation-timing-function: ease-in-out;
	}

		40%, 80% {
		-webkit-transform: rotate3d(0, 0, 1, -60deg);
		        transform: rotate3d(0, 0, 1, -60deg);
		-webkit-transform-origin: top right;
		        transform-origin: top right;
		-webkit-animation-timing-function: ease-in-out;
		        animation-timing-function: ease-in-out;
		opacity: 1;
	}

		100% {
		-webkit-transform: translate3d(0, 700px, 0);
		        transform: translate3d(0, 700px, 0);
		opacity: 0;
	}
}

@-webkit-keyframes hingeRight {
	0% {
		-webkit-transform-origin: top right;
		        transform-origin: top right;
		-webkit-animation-timing-function: ease-in-out;
		        animation-timing-function: ease-in-out;
	}

		20%, 60% {
		-webkit-transform: rotate3d(0, 0, 1, -80deg);
		        transform: rotate3d(0, 0, 1, -80deg);
		-webkit-transform-origin: top right;
		        transform-origin: top right;
		-webkit-animation-timing-function: ease-in-out;
		        animation-timing-function: ease-in-out;
	}

		40%, 80% {
		-webkit-transform: rotate3d(0, 0, 1, -60deg);
		        transform: rotate3d(0, 0, 1, -60deg);
		-webkit-transform-origin: top right;
		        transform-origin: top right;
		-webkit-animation-timing-function: ease-in-out;
		        animation-timing-function: ease-in-out;
		opacity: 1;
	}

		100% {
		-webkit-transform: translate3d(0, 700px, 0);
		        transform: translate3d(0, 700px, 0);
		opacity: 0;
	}
}

@keyframes rotateIn {
	0% {
		-webkit-transform-origin: right bottom;
		        transform-origin: right bottom;
		-webkit-transform: rotate3d(0, 0, 1, 45deg);
		        transform: rotate3d(0, 0, 1, 45deg);
		opacity: 0;
	}

	100% {
		-webkit-transform-origin: right bottom;
		        transform-origin: right bottom;
		-webkit-transform: none;
		        transform: none;
		opacity: 1;
	}
}

@-webkit-keyframes rotateIn {
	0% {
		-webkit-transform-origin: right bottom;
		        transform-origin: right bottom;
		-webkit-transform: rotate3d(0, 0, 1, 45deg);
		        transform: rotate3d(0, 0, 1, 45deg);
		opacity: 0;
	}

	100% {
		-webkit-transform-origin: right bottom;
		        transform-origin: right bottom;
		-webkit-transform: none;
		        transform: none;
		opacity: 1;
	}
}

@keyframes zoomInLeft {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
		        transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
		-webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
		        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	}

	60% {
		opacity: 1;
		-webkit-transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
		        transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
		-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
		        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	}
}

@-webkit-keyframes zoomInLeft {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
		        transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
		-webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
		        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	}

	60% {
		opacity: 1;
		-webkit-transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
		        transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
		-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
		        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	}
}

@keyframes zoomInRight {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
		        transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
		-webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
		        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	}

	60% {
		opacity: 1;
		-webkit-transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
		        transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
		-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
		        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	}
}

@-webkit-keyframes zoomInRight {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
		        transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
		-webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
		        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	}

	60% {
		opacity: 1;
		-webkit-transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
		        transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
		-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
		        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	}
}

@keyframes zoomInDown {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
		        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
		-webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
		        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	}

	60% {
		opacity: 1;
		-webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
		        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
		-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
		        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	}
}

@-webkit-keyframes zoomInDown {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
		        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
		-webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
		        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	}

	60% {
		opacity: 1;
		-webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
		        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
		-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
		        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	}
}