* {
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	height: 100%;
	font-family: "lato-regular", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
	overflow: hidden;
}

section {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: ;
	color: #fff;
	background-color: pink;
	overflow: hidden;
}

.content {
	position: relative;
}

.start-background {
	width: 100%;
	height: 100%;
	background: url("images/start.jpg") center center no-repeat;
}

.cover {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
}

.start-content {
	position: relative;
}

.btn-outline-inverse {
	margin-top: 50px;
	color: #fff;
	background-color: transparent;
	border-color: #fff;
}

.btn-outline-inverse:hover {
	color: #fff;
	background-color: rgba(255, 255, 255, .3);
	border-color: #fff;
}

.img {
	position: relative;
	margin: 0 auto;
	padding: 10px 10px 50px 10px;
	background-color: #fff;
}

.word-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: pink;
}

.word-background-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: center center no-repeat;
}

.word-content {
	position: relative;
	text-align: left;
}

.word-first {
	background-image: url("images/start.jpg");
}