* {
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	height: 100%;
	font-family: "lato-regular", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;

}

section {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: ;
	color: #fff;
	background-color: pink;
}

img {
	padding: 10px 10px 40px 10px;
	background-color: #fff;
}