* {
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	height: 100%;
	font-family: "lato-regular", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;

}

section {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: ;
	color: #fff;
	background-color: pink;
	overflow: hidden;
}

.content {
	 position: relative;
}

.images {

}

img {
	position: relative;
	margin-top: 50px;
	padding: 10px 10px 50px 10px;
	background-color: #fff;
}

.fouth-screen-second {
	-webkit-animation: fouth .8s linear 8s forwards;
}

.fouth-screen-third {
	-webkit-animation: fouth .8s linear 6s forwards;
}

.fouth-screen-fouth {
	-webkit-animation: fouth .8s linear 4s forwards;
}

.fouth-screen-fifth {
	-webkit-animation: fouth .8s linear 2s forwards;
}

@-webkit-keyframes fouth {
	0%{
		opacity: 1;
		-webkit-transform: scale(1);
	}
	100%{
		opacity: 0;
		-webkit-transform: scale(2);
	}
}